*{
    margin: 0;
    padding: 0;
}

@font-face{
    src:url(../fonts/AlternateGothic2bt2n.ttf);;
    font-family: hds;
}

html,
body {
  height: 100vh;
  font-family: hds;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html{
    /*A cada 1rem será considerado 10px*/
    font-size: 62.5%;
}

header{
    background-color: #FF671F;
}

body{
    font-size: 1.6rem;;
}

main {
  margin-bottom: 80px;
}

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    width: 90%;
    margin:auto;
}

.container li{
    padding:10px;
    text-align: center;

}

.container li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: hds;
    color:#fff;
    font-size: 2.5rem;
}
.container img{
    width: 200px;
    margin-left:20px;
    padding:15px 0;
    height: 100%;
}

.img-wrapper{
    overflow: hidden;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.img-wrapper img{
    max-width: 100%;
    opacity: 0.6;
    object-fit: contain;
    filter: blur(3px);
}


.conthist{
    margin: 80px 0;
}
.history{
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
}

.history h2{
    font-size: 2.8rem;
}
.history p{
    color: #000;
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}



.cards {
    width: 980px;
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #FF671F;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.card:hover{
    transform: translateY(-7px);
}

.text--medium{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color:#ecf0f1;
}

.image {
  width: 100%;
  padding-top: 56.25%; /* 16:9 */

  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-self: end;
  align-items: center;
}

.price {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #7159c1;
  filter: brightness(90%);
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #FF671F;
}

footer p{
    color:#fff;
    font-family: hds;
    text-transform: uppercase;
}

@media(max-width: 768px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 1280px){
    html{
        font-size: 50%;
    }
    .history{
        flex-direction: column;
        text-align: center;
    }
    .history h2{
        margin-top:1rem;
    }
    .history img{
        order: -1;
    }
}
